# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/

# Poetry
*.egg-info/
dist/
build/

# Logs
*.log

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/
*.code-workspace

# macOS & Windows system files
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Local data
data/
